<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="webrtc-java">
    <Properties>
        <Property name="file-name">logs/webrtc-java.log</Property>
        <Property name="file-pattern">logs/webrtc-java-%d{yyyy-MM-dd-HH-mm}-%i.log.gz</Property>
        <Property name="log-pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36}:%L - %m%n</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile"
            fileName="${file-name}"
            filePattern="${file-pattern}"
            ignoreExceptions="false">
            <PatternLayout>
                <Pattern>${log-pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="64 MB" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="logs/webrtc-java-*.log.gz" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT"
            ignoreExceptions="false">
            <PatternLayout pattern="${log-pattern}" />
        </Console>
        <Failover name="Failover" primary="RollingFile">
            <Failovers>
                <AppenderRef ref="Console" />
            </Failovers>
        </Failover>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>